In [1]:
# Packages and imports
import pandas as pd
import numpy as np

In [2]:
star_wars = pd.read_csv("star_wars.csv", encoding="ISO-8859-1")
star_wars.head()

,RespondentID,Have you seen any of the 6 films in the Star Wars franchise?,Do you consider yourself to be a fan of the Star Wars film franchise?,Which of the following Star Wars films have you seen? Please select all that apply.,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Please rank the Star Wars films in order of preference with 1 being your favorite film in the franchise and 6 being your least favorite film.,...,Unnamed: 28,Which character shot first?,Are you familiar with the Expanded Universe?,Do you consider yourself to be a fan of the Expanded Universe?ÂÃ¦,Do you consider yourself to be a fan of the Star Trek franchise?,Gender,Age,Household Income,Education,Location (Census Region)
0,NaN,Response,Response,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,Star Wars: Episode I The Phantom Menace,...,Yoda,Response,Response,Response,Response,Response,Response,Response,Response,Response
1,3.292880e+09,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,3,...,Very favorably,I don't understand this question,Yes,No,No,Male,18-29,NaN,High school degree,South Atlantic
2,3.292880e+09,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Yes,Male,18-29,"$0 - $24,999",Bachelor degree,West South Central
3,3.292765e+09,Yes,No,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,NaN,NaN,NaN,1,...,Unfamiliar (N/A),I don't understand this question,No,NaN,No,Male,18-29,"$0 - $24,999",High school degree,West North Central
4,3.292763e+09,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,5,...,Very favorably,I don't understand this question,No,NaN,Yes,Male,18-29,"$100,000 - $149,999",Some college or Associate degree,West North Central

In [3]:
# Drop rows with missind RespondentIDs
cond = star_wars['RespondentID'].notnull()
star_wars = star_wars[cond]

# Print basic info
star_wars.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1186 entries, 1 to 1186
Data columns (total 38 columns):
RespondentID                                                                                                                                     1186 non-null float64
Have you seen any of the 6 films in the Star Wars franchise?                                                                                     1186 non-null object
Do you consider yourself to be a fan of the Star Wars film franchise?                                                                            836 non-null object
Which of the following Star Wars films have you seen? Please select all that apply.                                                              673 non-null object
Unnamed: 4                                                                                                                                       571 non-null object
Unnamed: 5                                                                                                                                       550 non-null object
Unnamed: 6                                                                                                                                       607 non-null object
Unnamed: 7                                                                                                                                       758 non-null object
Unnamed: 8                                                                                                                                       738 non-null object
Please rank the Star Wars films in order of preference with 1 being your favorite film in the franchise and 6 being your least favorite film.    835 non-null object
Unnamed: 10                                                                                                                                      836 non-null object
Unnamed: 11                                                                                                                                      835 non-null object
Unnamed: 12                                                                                                                                      836 non-null object
Unnamed: 13                                                                                                                                      836 non-null object
Unnamed: 14                                                                                                                                      836 non-null object
Please state whether you view the following characters favorably, unfavorably, or are unfamiliar with him/her.                                   829 non-null object
Unnamed: 16                                                                                                                                      831 non-null object
Unnamed: 17                                                                                                                                      831 non-null object
Unnamed: 18                                                                                                                                      823 non-null object
Unnamed: 19                                                                                                                                      825 non-null object
Unnamed: 20                                                                                                                                      814 non-null object
Unnamed: 21                                                                                                                                      826 non-null object
Unnamed: 22                                                                                                                                      820 non-null object
Unnamed: 23                                                                                                                                      812 non-null object
Unnamed: 24                                                                                                                                      827 non-null object
Unnamed: 25                                                                                                                                      830 non-null object
Unnamed: 26                                                                                                                                      821 non-null object
Unnamed: 27                                                                                                                                      814 non-null object
Unnamed: 28                                                                                                                                      826 non-null object
Which character shot first?                                                                                                                      828 non-null object
Are you familiar with the Expanded Universe?                                                                                                     828 non-null object
Do you consider yourself to be a fan of the Expanded Universe?ÂÃ¦                                                                               213 non-null object
Do you consider yourself to be a fan of the Star Trek franchise?                                                                                 1068 non-null object
Gender                                                                                                                                           1046 non-null object
Age                                                                                                                                              1046 non-null object
Household Income                                                                                                                                 858 non-null object
Education                                                                                                                                        1036 non-null object
Location (Census Region)                                                                                                                         1043 non-null object
dtypes: float64(1), object(37)
memory usage: 361.4+ KB

In [4]:
# Rename cols to be more convienent, we may revisit this later to expand
col_rename_map = {
    "Have you seen any of the 6 films in the Star Wars franchise?": "seen_films",
    "Do you consider yourself to be a fan of the Star Wars film franchise?": "fan_status",
    "Which of the following Star Wars films have you seen? Please select all that apply.": "seen_ep_1",
    "Unnamed: 4": "seen_ep_2",
    "Unnamed: 5": "seen_ep_3",
    "Unnamed: 6": "seen_ep_4",
    "Unnamed: 7": "seen_ep_5",
    "Unnamed: 8": "seen_ep_6",
    "Please rank the Star Wars films in order of preference with 1 being your favorite film in the franchise and 6 being your least favorite film.": "rank_ep_1",
    "Unnamed: 10": "rank_ep_2",
    "Unnamed: 11": "rank_ep_3",
    "Unnamed: 12": "rank_ep_4",
    "Unnamed: 13": "rank_ep_5",
    "Unnamed: 14": "rank_ep_6"
}
star_wars = star_wars.rename(columns=col_rename_map)

In [5]:
# Convert "Yes"/"No" responses to boolean
print(star_wars["fan_status"].value_counts(dropna=False))


to_boolean = {
    "yes": True,
    "no": False
}
    
cols = ["seen_films", "fan_status"]
star_wars[cols] = star_wars[cols].applymap(lambda s: to_boolean[s.lower()] if isinstance(s, str) else s)
print(star_wars["fan_status"].value_counts(dropna=False))

Yes    552
NaN    350
No     284
Name: fan_status, dtype: int64
True     552
NaN      350
False    284
Name: fan_status, dtype: int64

In [6]:
to_boolean = {
    "Star Wars: Episode I  The Phantom Menace": True,
    "Star Wars: Episode II  Attack of the Clones": True,
    "Star Wars: Episode III  Revenge of the Sith": True,
    "Star Wars: Episode IV  A New Hope": True,
    "Star Wars: Episode V The Empire Strikes Back": True,
    "Star Wars: Episode VI Return of the Jedi": True,
    np.nan: False
}
cols = ["seen_ep_{}".format(k) for k in range(1,7)]
star_wars[cols] = star_wars[cols].applymap(lambda s: to_boolean[s])

for col in cols:
    print(star_wars[col].value_counts(dropna=False))

True     673
False    513
Name: seen_ep_1, dtype: int64
False    615
True     571
Name: seen_ep_2, dtype: int64
False    636
True     550
Name: seen_ep_3, dtype: int64
True     607
False    579
Name: seen_ep_4, dtype: int64
True     758
False    428
Name: seen_ep_5, dtype: int64
True     738
False    448
Name: seen_ep_6, dtype: int64

In [7]:
# Convert ranking cols to numeric type
cols = ["rank_ep_{}".format(k) for k in range(1,7)]
star_wars[cols] = star_wars[cols].astype(float)

Index(['RespondentID', 'seen_films', 'fan_status', 'seen_ep_1', 'seen_ep_2',
       'seen_ep_3', 'seen_ep_4', 'seen_ep_5', 'seen_ep_6', 'rank_ep_1',
       'rank_ep_2', 'rank_ep_3', 'rank_ep_4', 'rank_ep_5', 'rank_ep_6',
       'Please state whether you view the following characters favorably, unfavorably, or are unfamiliar with him/her.',
       'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19',
       'Unnamed: 20', 'Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23',
       'Unnamed: 24', 'Unnamed: 25', 'Unnamed: 26', 'Unnamed: 27',
       'Unnamed: 28', 'Which character shot first?',
       'Are you familiar with the Expanded Universe?',
       'Do you consider yourself to be a fan of the Expanded Universe?ÂÃ¦',
       'Do you consider yourself to be a fan of the Star Trek franchise?',
       'Gender', 'Age', 'Household Income', 'Education',
       'Location (Census Region)'],
      dtype='object')